In [43]:
# Model 분석

In [44]:
import numpy as np
import pandas as pd


df = pd.read_csv("./data/gwangju.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시설종류    297 non-null    object
 1   실내/실외   297 non-null    object
 2   종목      297 non-null    object
 3   주소      297 non-null    object
 4   이름      297 non-null    object
dtypes: object(5)
memory usage: 11.7+ KB

In [45]:
df.head(3)

  시설종류 실내/실외   종목                 주소              이름
0  스포츠    실외  운동장      광주 북구 매곡동 238  전라남도공무원교육원 운동장
1  스포츠    실외  농구장    광주 북구 삼각동 792-1     가작어린이공원 농구장
2  스포츠    실외  풋살장  광주광역시 북구 군왕로274번길  각화1교 하부 생활체육공간

In [46]:
df_temp = pd.get_dummies(df[['시설종류','실내/실외','종목']])

In [47]:
df_temp.head(3)

,시설종류_관광,시설종류_문화,시설종류_스포츠,실내/실외_실내,실내/실외_실외,종목_5.18운동,종목_건축,종목_게이트볼장,종목_공연장,종목_농구장,...,종목_족구장,종목_종교,종목_체육관,종목_체험,종목_축구장,종목_축제,종목_캠핑장,종목_탁구장,종목_테니스장,종목_풋살장
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [48]:
df1 = pd.read_csv("./data/weather.csv")
df1.head(3)

    지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 상대습도(%)
0  156  광주  2021-06-01      23.5       0.0        51.3
1  156  광주  2021-06-02      23.4       0.0        61.0
2  156  광주  2021-06-03      19.8      22.7        92.6

In [49]:
# df.to_csv("df.csv", encoding="utf-8-sig")

In [50]:
print(df_temp.shape, df1.shape)

(297, 31) (129, 6)

In [51]:
# df_temp.to_csv("df_temp.csv", encoding="utf-8-sig")

In [52]:
# df_merge = pd.merge(df_temp, df1)
# print(df_merge)

In [53]:
df3 = pd.read_csv('df.csv')

df3.head(3)

   ID 시설종류 실내/실외   종목                 주소              이름    평점  투표횟수
0   0  스포츠    실외  운동장      광주 북구 매곡동 238  전라남도공무원교육원 운동장  8.27   258
1   1  스포츠    실외  농구장    광주 북구 삼각동 792-1     가작어린이공원 농구장  5.21   975
2   2  스포츠    실외  풋살장  광주광역시 북구 군왕로274번길  각화1교 하부 생활체육공간  8.33   663

In [54]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

In [55]:
df3.shape
df3.head(2).T

                    0                1
ID                  0                1
시설종류              스포츠              스포츠
실내/실외              실외               실외
종목                운동장              농구장
주소      광주 북구 매곡동 238  광주 북구 삼각동 792-1
이름     전라남도공무원교육원 운동장      가작어린이공원 농구장
평점               8.27             5.21
투표횟수              258              975

In [56]:
# id, 이름, 시설종류, 평점, 투표횟수, 
# 실내/실외, 종목
df_test = df3[ ['ID','이름', '시설종류', '평점', '투표횟수','실내/실외', '종목'] ]
df_test.head(1).T

                    0
ID                  0
이름     전라남도공무원교육원 운동장
시설종류              스포츠
평점               8.27
투표횟수              258
실내/실외              실외
종목                운동장

In [57]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      297 non-null    int64
 1   이름      297 non-null    object
 2   시설종류    297 non-null    object
 3   평점      297 non-null    float64
 4   투표횟수    297 non-null    int64
 5   실내/실외   297 non-null    object
 6   종목      297 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 16.4+ KB

In [58]:
pd.set_option('max_colwidth', 200)
df[ ['시설종류', '종목'] ][:1]

  시설종류   종목
0  스포츠  운동장

In [59]:
# # 문자열을 객체로 변환
# # list [dict1, dict2]
# from ast import literal_eval

# literal_eval('[{"ID": 28, "시설종류": "Action"}]')

In [60]:
# # literal_eval( df['genres'][:1][0] )
# df_test['시설종류'] = df_test['시설종류'].apply(literal_eval)
# df_test['종목'] = df_test['종목'].apply(literal_eval)
# df_test[ ['시설종류', '종목'] ][:1]

In [61]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
# df_test['종목_정확도'] = df_test['종목'].apply(lambda x : (' ').join( x ))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform( df['종목'] )
genre_mat.shape

(297, 26)

In [62]:
# print( genre_mat[:1] )
genre_mat[:1].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0]], dtype=int64)

In [63]:
# 코사인 유사도 계산계산
# 반환된 코사인 유사도 행렬의 크기 및 앞 2개 데이터만 추출
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim.shape

(297, 297)

In [64]:
genre_sim[:2]

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [65]:
# 유사도가 높은 순으로 정리된 genre_sim 객체의 비교 행 위치 인덱스 값
# 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라
# 비교 대상 행의 위치 인덱스임에 주의
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind.shape

(297, 297)

In [66]:
# # 이름 유사도에 따라 시설를 추천하는 함수를 생성
# # movies_df DataFrame, 
# # 레코드별 이름 코사인 유사도 인덱스를 가지는 genre_sim_sorted_ind
# # 고객이 선정한 추천 기준이 되는 시설 이름
# # 추천할 시설 건수
# # return : 추천 시설 정보 DataFrame
# def find_sim_movie(df_test, sorted_ind, title_name, top_n=5):
#   title_movie = df_test[df_test['이름'] == title_name]
#   title_index = title_movie.index.values

#   sim_index = sorted_ind[title_index, :top_n]
#   sim_index = sim_index.reshape(-1)

#   return df_test.iloc[sim_index]

# sim_movies = find_sim_movie(df_test, genre_sim_sorted_ind, '우산수영장')
# sim_movies[['이름', '평점', '투표횟수', '실내/실외']]

In [67]:
df_test[['이름', '평점', '투표횟수']].sort_values(
    '평점', ascending=False)

                   이름     평점  투표횟수
74     광주광역시 동구다목적체육관  10.00   153
117             국윤미술관   9.99   836
148            궁동예술극장   9.96   493
21         첨단체육공원 축구장   9.92   965
33           전천후 테니스장   9.89   655
..                ...    ...   ...
72   광주광역시 동구 금호게이트볼장   5.16   666
119             무등갤러리   5.15    25
232               넓으실   5.14    10
290               더셰프   5.06   800
100    운남생활체육시설단지 축구장   5.01   775

[297 rows x 3 columns]

In [68]:
C = df_test['평점'].mean()
m = df_test['투표횟수'].quantile(0.6)
C, m

(7.4468686868686875, 563.9999999999999)

In [69]:
# 기존 평점을 가중 평점으로 변경하는 함수
def weighted_vote_average(record):
  v = record['투표횟수']
  R = record['평점']
  # (예정)날씨 관련 수식을 추가 => 실내외 구분
  return ( (v/(v+m)) * R ) + ( (m/(v+m)) * C )

df_test['추천점수'] = df_test.apply(weighted_vote_average, axis=1)

In [70]:
# 새롭게 부여된 가중치 평점이 높은 순으로 상위 10개의 시설
df_test[['이름', '평점', '투표횟수', '추천점수']].sort_values(
    '추천점수', ascending=False)

                  이름    평점  투표횟수      추천점수
21        첨단체육공원 축구장  9.92   965  9.007740
117            국윤미술관  9.99   836  8.965481
209         양림골목비엔날레  9.88   934  8.963921
170      광주학생독립운동기념관  9.77   985  8.924134
292            어나더키친  9.86   839  8.889932
..               ...   ...   ...       ...
46   광주광역시 서구 국민체육센터  5.32   839  6.174992
194              호가정  5.41   968  6.159865
290              더셰프  5.06   800  6.046946
100   운남생활체육시설단지 축구장  5.01   775  6.036433
1        가작어린이공원 농구장  5.21   975  6.029749

[297 rows x 4 columns]

In [71]:
# 새롭게 정의된 평점 기준에 따라 기존 find_sim_experience 함수를 변경
def find_sim_experience(df_test, sorted_ind, title_name, top_n=5):
  title_exp = df_test[df_test['이름'] == title_name]
  title_index = title_exp.index.values

  sim_index = sorted_ind[title_index, :top_n*3]
  sim_index = sim_index.reshape(-1)

  sim_index = sim_index[sim_index != title_index]

  return df_test.iloc[sim_index].sort_values(
    '추천점수', ascending=False)[:top_n]


sim_exp = find_sim_experience(df_test, genre_sim_sorted_ind, '광주학생독립운동기념관')
sim_exp[['이름', '종목', '실내/실외', '평점', '투표횟수', '추천점수']]

               이름      종목 실내/실외    평점  투표횟수      추천점수
168      5·18민주광장  5.18운동    실외  9.25   648  8.410919
96         소촌테니스장    테니스장    실외  9.31   358  8.170297
98    광주 송정1교 축구장     축구장    실외  8.13   503  7.768907
165  5·18민주화운동기록관  5.18운동    실내  8.87    98  7.657544
171   광주학생독립운동기념탑  5.18운동    실외  8.13   220  7.638564

In [72]:
# # 새롭게 정의된 평점 기준에 따라 기존 find_sim_experience 함수를 변경
# def find_sim_experience(df_test, sorted_ind, title_name, top_n=5):
#   title_exp = df_test[df_test['이름'] == title_name]
#   title_index = title_exp.index.values

#   sim_index = sorted_ind[title_index, :top_n*3]
#   sim_index = sim_index.reshape(-1)

#   sim_index = sim_index[sim_index != title_index]

#   return df_test.iloc[sim_index].sort_values(
#     '추천점수', ascending=False)[:top_n]

# name = str(input())
# sim_exp = find_sim_experience(df_test, genre_sim_sorted_ind, name)
# sim_exp[['이름', '종목', '실내/실외', '평점', '투표횟수', '추천점수']]

          이름  종목 실내/실외    평점  투표횟수      추천점수
257   해남성내식당  맛집    실내  9.83   765  8.818649
254   서울장수국수  맛집    실내  9.49   826  8.660988
296  퍼스트앨리웨이  맛집    실내  9.57   457  8.397183
252       미진  맛집    실내  8.95   401  8.071486
249      김가원  맛집    실내  9.00   374  8.066134