In [301]:
# Model 분석

In [302]:
import numpy as np
import pandas as pd


df = pd.read_csv("./data/gwangju.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시설종류    297 non-null    object
 1   실내/실외   297 non-null    object
 2   종목      297 non-null    object
 3   주소      297 non-null    object
 4   이름      297 non-null    object
dtypes: object(5)
memory usage: 11.7+ KB

In [303]:
df.head(3)

  시설종류 실내/실외   종목                 주소              이름
0  스포츠    실외  운동장      광주 북구 매곡동 238  전라남도공무원교육원 운동장
1  스포츠    실외  농구장    광주 북구 삼각동 792-1     가작어린이공원 농구장
2  스포츠    실외  풋살장  광주광역시 북구 군왕로274번길  각화1교 하부 생활체육공간

In [304]:
df_temp = pd.get_dummies(df[['시설종류','실내/실외','종목']])

In [305]:
df_temp.head(3)

,시설종류_관광,시설종류_문화,시설종류_스포츠,실내/실외_실내,실내/실외_실외,종목_5.18운동,종목_건축,종목_게이트볼장,종목_공연장,종목_농구장,...,종목_족구장,종목_종교,종목_체육관,종목_체험,종목_축구장,종목_축제,종목_캠핑장,종목_탁구장,종목_테니스장,종목_풋살장
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [306]:
df1 = pd.read_csv("./data/weather.csv")
df1.head(3)

    지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 상대습도(%)
0  156  광주  2021-06-01      23.5       0.0        51.3
1  156  광주  2021-06-02      23.4       0.0        61.0
2  156  광주  2021-06-03      19.8      22.7        92.6

In [307]:
# df.to_csv("df.csv", encoding="utf-8-sig")

In [308]:
print(df_temp.shape, df1.shape)

(297, 31) (129, 6)

In [309]:
# df_temp.to_csv("df_temp.csv", encoding="utf-8-sig")

In [310]:
# df_merge = pd.merge(df_temp, df1)
# print(df_merge)

In [311]:
df3 = pd.read_csv('df.csv')

df3.head(3)

   ID 시설종류 실내/실외   종목                주소        이름   평점  투표횟수
0   0   문화    실내  미술관       광주 동구 성촌길 6     드영미술관  3.0     1
1   1   문화    실내  미술관  광주 남구 제중로47번길 10  이이남 스튜디오  4.7    84
2   2   문화    실내  미술관      광주 북구 하서로 52   광주시립미술관  4.3   815

In [312]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

In [313]:
df3.shape
df3.head(2).T

                 0                 1
ID               0                 1
시설종류            문화                문화
실내/실외           실내                실내
종목             미술관               미술관
주소     광주 동구 성촌길 6  광주 남구 제중로47번길 10
이름           드영미술관          이이남 스튜디오
평점             3.0               4.7
투표횟수             1                84

In [314]:
# id, 이름, 시설종류, 평점, 투표횟수, 
# 실내/실외, 종목
df_test = df3[ ['ID','이름', '시설종류', '평점', '투표횟수','실내/실외', '종목'] ]
df_test.head(1).T

           0
ID         0
이름     드영미술관
시설종류      문화
평점       3.0
투표횟수       1
실내/실외     실내
종목       미술관

In [315]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      199 non-null    int64
 1   이름      199 non-null    object
 2   시설종류    199 non-null    object
 3   평점      199 non-null    float64
 4   투표횟수    199 non-null    int64
 5   실내/실외   199 non-null    object
 6   종목      199 non-null    object
dtypes: float64(1), int64(2), object(4)
memory usage: 11.0+ KB

In [316]:
# pd.set_option('max_colwidth', 200)
# df[ ['시설종류', '종목'] ][:1]

In [317]:
# # 문자열을 객체로 변환
# # list [dict1, dict2]
# from ast import literal_eval

# literal_eval('[{"ID": 28, "시설종류": "Action"}]')

In [318]:
# # literal_eval( df['genres'][:1][0] )
# df_test['시설종류'] = df_test['시설종류'].apply(literal_eval)
# df_test['종목'] = df_test['종목'].apply(literal_eval)
# df_test[ ['시설종류', '종목'] ][:1]

In [319]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
# df_test['종목_정확도'] = df_test['종목'].apply(lambda x : (' ').join( x ))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 1))
genre_mat = count_vect.fit_transform( df['종목'] )
genre_mat.shape

(297, 26)

In [320]:
# print( genre_mat[:1] )
genre_mat[:1].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0]], dtype=int64)

In [321]:
# 코사인 유사도 계산계산
# 반환된 코사인 유사도 행렬의 크기 및 앞 2개 데이터만 추출
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim.shape

(297, 297)

In [322]:
genre_sim[:2]

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [323]:
# 유사도가 높은 순으로 정리된 genre_sim 객체의 비교 행 위치 인덱스 값
# 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라
# 비교 대상 행의 위치 인덱스임에 주의
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind.shape

(297, 297)

In [324]:
df_test[['이름', '평점', '투표횟수']].sort_values(
    '평점', ascending=False)

                 이름   평점  투표횟수
61              약사암  5.0     1
26            백범기념관  5.0     3
120           테스팅노트  4.9    11
138         100족발본점  4.8   187
1          이이남 스튜디오  4.7    84
..              ...  ...   ...
101        다과만들기 다담  0.0     0
13   유ㆍ스퀘어문화관 금호갤러리  0.0     0
28        전남대학교 박물관  0.0     0
142            광후장어  0.0     0
24    광주교육대학교 교육박물관  0.0     0

[199 rows x 3 columns]

In [325]:
C = df_test['평점'].mean()
m = df_test['투표횟수'].quantile(0.6)
C, m

(3.7306532663316587, 141.0)

In [326]:
# 기존 평점을 가중 평점으로 변경하는 함수
def weighted_vote_average(record):
  v = record['투표횟수']
  R = record['평점']
  # (예정)날씨 관련 수식을 추가 => 실내외 구분시 활용
  return ( ( (v/(v+m)) * R ) + ( (m/(v+m)) * C ) )

df_test['추천점수'] = df_test.apply(weighted_vote_average, axis=1)

In [327]:
# 새롭게 부여된 가중치 평점이 높은 순으로 상위 10개의 시설
df_test[['이름', '평점', '투표횟수', '추천점수']].sort_values(
    '추천점수', ascending=False)

               이름   평점  투표횟수      추천점수
52   5·18민주화운동기록관  4.6   636  4.442242
184          쌍암공원  4.5  1119  4.413906
192      무등산 국립공원  4.5  1076  4.410865
55       5·18민주광장  4.6   488  4.405123
191          중외공원  4.5   640  4.361104
..            ...  ...   ...       ...
116           조선옥  3.5   136  3.617408
165           행랑채  3.5   189  3.598552
107        금수저은수저  3.5   360  3.564914
113           영빈관  3.4   143  3.564162
123     현완단겸 상추튀김  3.3   266  3.449194

[199 rows x 4 columns]

In [332]:
# 새롭게 정의된 평점 기준에 따라 기존 find_sim_experience 함수를 변경
def find_sim_experience(df_test, sorted_ind, title_name, top_n=5):
  title_exp = df_test[df_test['이름'] == title_name]
  title_index = title_exp.index.values

  sim_index = sorted_ind[title_index, :top_n*3]
  sim_index = sim_index.reshape(-1)

  sim_index = sim_index[sim_index != title_index]

  return df_test.iloc[sim_index].sort_values(
    '추천점수', ascending=False)[:top_n]


sim_exp = find_sim_experience(df_test, genre_sim_sorted_ind, '일곡갤러리')
sim_exp[['이름', '종목', '실내/실외', '평점', '투표횟수', '추천점수']]

            이름    종목 실내/실외   평점  투표횟수      추천점수
99     국립광주과학관    체험    실내  4.4  1644  4.347127
43     월봉서원 체험  전통문화    실내  4.5   117  4.079543
31     홀로그램 극장   공연장    실내  4.3   213  4.073226
90   무등산 주상절리대    문화    실외  4.5    88  4.026297
108        남가정    맛집    실내  4.2   144  3.967797

In [329]:
# # 새롭게 정의된 평점 기준에 따라 기존 find_sim_experience 함수를 변경
# def find_sim_experience(df_test, sorted_ind, title_name, top_n=5):
#   title_exp = df_test[df_test['이름'] == title_name]
#   title_index = title_exp.index.values

#   sim_index = sorted_ind[title_index, :top_n*3]
#   sim_index = sim_index.reshape(-1)

#   sim_index = sim_index[sim_index != title_index]

#   return df_test.iloc[sim_index].sort_values(
#     '추천점수', ascending=False)[:top_n]

# name = str(input())
# sim_exp = find_sim_experience(df_test, genre_sim_sorted_ind, name)
# sim_exp[['이름', '종목', '실내/실외', '평점', '투표횟수', '추천점수']]