In [ ]:
# Model 분석

In [2]:
import numpy as np
import pandas as pd


df = pd.read_csv("./data/gwangju.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시설종류    297 non-null    object
 1   실내/실외   297 non-null    object
 2   종목      297 non-null    object
 3   주소      297 non-null    object
 4   이름      297 non-null    object
dtypes: object(5)
memory usage: 11.7+ KB

In [3]:
df.head(3)

  시설종류 실내/실외   종목                 주소              이름
0  스포츠    실외  운동장      광주 북구 매곡동 238  전라남도공무원교육원 운동장
1  스포츠    실외  농구장    광주 북구 삼각동 792-1     가작어린이공원 농구장
2  스포츠    실외  풋살장  광주광역시 북구 군왕로274번길  각화1교 하부 생활체육공간

In [7]:
df_temp = pd.get_dummies(df[['시설종류','실내/실외','종목']])

In [19]:
df_temp.head(3).T

           0  1  2
시설종류_관광    0  0  0
시설종류_문화    0  0  0
시설종류_스포츠   1  1  1
실내/실외_실내   0  0  0
실내/실외_실외   1  1  1
종목_5.18운동  0  0  0
종목_건축      0  0  0
종목_게이트볼장   0  0  0
종목_공연장     0  0  0
종목_농구장     0  1  0
종목_맛집      0  0  0
종목_문화      0  0  0
종목_미술관     0  0  0
종목_박물관     0  0  0
종목_배구장     0  0  0
종목_배드민턴장   0  0  0
종목_수영장     0  0  0
종목_야구장     0  0  0
종목_운동장     1  0  0
종목_유원지     0  0  0
종목_전통문화    0  0  0
종목_족구장     0  0  0
종목_종교      0  0  0
종목_체육관     0  0  0
종목_체험      0  0  0
종목_축구장     0  0  0
종목_축제      0  0  0
종목_캠핑장     0  0  0
종목_탁구장     0  0  0
종목_테니스장    0  0  0
종목_풋살장     0  0  1

In [16]:
df1 = pd.read_csv("./data/weather.csv")
df1.head(3)

    지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 상대습도(%)
0  156  광주  2021-06-01      23.5       NaN        51.3
1  156  광주  2021-06-02      23.4       NaN        61.0
2  156  광주  2021-06-03      19.8      22.7        92.6

In [18]:
print(df_temp.shape, df1.shape)

(297, 31) (129, 6)