In [120]:
# Model 분석

In [121]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

df1 = pd.read_csv('./data/df.csv')
df1.head(3)

   ID 대분류 실내/실외  소분류                주소        이름   평점  투표횟수               태깅
0   0  예술    실내  미술관       광주 동구 성촌길 6     드영미술관  3.0     1     예술 미술관 드영미술관
1   1  예술    실내  미술관  광주 남구 제중로47번길 10  이이남 스튜디오  4.7    84  예술 미술관 이이남 스튜디오
2   2  예술    실내  미술관      광주 북구 하서로 52   광주시립미술관  4.3   815   예술 미술관 광주시립미술관

In [122]:
df1.shape
df1.head(2).T

                  0                 1
ID                0                 1
대분류              예술                예술
실내/실외            실내                실내
소분류             미술관               미술관
주소      광주 동구 성촌길 6  광주 남구 제중로47번길 10
이름            드영미술관          이이남 스튜디오
평점              3.0               4.7
투표횟수              1                84
태깅     예술 미술관 드영미술관   예술 미술관 이이남 스튜디오

In [123]:
# id, 이름, 시설종류, 평점, 투표횟수, 
# 실내/실외, 종목
df_test = df1[ ['ID','이름', '대분류','소분류', '평점', '투표횟수','실내/실외', '태깅'] ]
df_test.head(1).T

                  0
ID                0
이름            드영미술관
대분류              예술
소분류             미술관
평점              3.0
투표횟수              1
실내/실외            실내
태깅     예술 미술관 드영미술관

In [124]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      203 non-null    int64
 1   이름      203 non-null    object
 2   대분류     203 non-null    object
 3   소분류     203 non-null    object
 4   평점      203 non-null    float64
 5   투표횟수    203 non-null    int64
 6   실내/실외   203 non-null    object
 7   태깅      203 non-null    object
dtypes: float64(1), int64(2), object(5)
memory usage: 12.8+ KB

In [125]:
from sklearn.feature_extraction.text import CountVectorizer

# CountVectorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환. 
# df_test['종목_정확도'] = df_test['종목'].apply(lambda x : (' ').join( x ))
count_vect = CountVectorizer(min_df=0, ngram_range=(1, 2))
genre_mat = count_vect.fit_transform( df_test['태깅'] )
genre_mat.shape

(203, 512)

In [126]:
# print( genre_mat[:1] )
genre_mat[:1].toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]], dtype=int64)

In [127]:
# 코사인 유사도 계산계산
# 반환된 코사인 유사도 행렬의 크기 및 앞 2개 데이터만 추출
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
genre_sim.shape

(203, 203)

In [128]:
genre_sim[:2]

array([[1.        , 0.50709255, 0.6       , 0.6       , 0.50709255,
        0.6       , 0.50709255, 0.6       , 0.6       , 0.6       ,
        0.6       , 0.6       , 0.59628479, 0.50709255, 0.6       ,
        0.6       , 0.6       , 0.6       , 0.6       , 0.6       ,
        0.6       , 0.2       , 0.1490712 , 0.2       , 0.16903085,
        0.2       , 0.2       , 0.2       , 0.1490712 , 0.2       ,
        0.2       , 0.16903085, 0.2       , 0.2       , 0.2       ,
        0.2       , 0.2       , 0.2       , 0.1490712 , 0.2       ,
        0.2       , 0.2       , 0.2       , 0.16903085, 0.2       ,
        0.16903085, 0.2       , 0.16903085, 0.2       , 0.16903085,
        0.16903085, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.50709255, 1.        , 0.50709255, 0.50709255, 0.42857143,
        0.50709255, 0.42857143, 0.50709255, 0.50709255, 0.50709255,
        0.50709255, 0.50709255, 0.50395263, 0.42857143, 0.50709255,
        0.50709255, 0.50709255, 0.50709255, 0.50709255, 0.50709255,
        0.50709255, 0.16903085, 0.12598816, 0.16903085, 0.14285714,
        0.16903085, 0.16903085, 0.16903085, 0.12598816, 0.16903085,
        0.16903085, 0.14285714, 0.16903085, 0.16903085, 0.16903085,
        0.16903085, 0.16903085, 0.16903085, 0.12598816, 0.16903085,
        0.16903085, 0.16903085, 0.16903085, 0.14285714, 0.16903085,
        0.14285714, 0.16903085, 0.14285714, 0.16903085, 0.14285714,
        0.14285714, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ]])

In [129]:
# 유사도가 높은 순으로 정리된 genre_sim 객체의 비교 행 위치 인덱스 값
# 값이 높은 순으로 정렬된 비교 대상 행의 유사도 값이 아니라
# 비교 대상 행의 위치 인덱스임에 주의
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind.shape

(203, 203)

In [130]:
df_test[['이름', '평점', '투표횟수']].sort_values(
    '평점', ascending=False)

               이름   평점  투표횟수
26          백범기념관  5.0     3
61            약사암  5.0     1
120         테스팅노트  4.9    11
138       100족발본점  4.8   187
53        전일빌딩245  4.7   240
..            ...  ...   ...
88   광주 성거사지 오층석탑  0.0     0
96          IT스퀘어  0.0     0
98       광주 콩종합센터  0.0     0
142          광후장어  0.0     0
101      다과만들기 다담  0.0     0

[203 rows x 3 columns]

In [131]:
C = df_test['평점'].mean()
m = df_test['투표횟수'].quantile(0.6)
C, m

(3.7384236453201973, 138.79999999999995)

In [132]:
# 기존 평점을 가중 평점으로 변경하는 함수
def weighted_vote_average(record):
  v = record['투표횟수']
  R = record['평점']
  # (예정)날씨 관련 수식을 추가 => 실내외 구분시 활용
  return ( ( (v/(v+m)) * R ) + ( (m/(v+m)) * C ) ) *2

df_test['추천점수'] = df_test.apply(weighted_vote_average, axis=1)

In [133]:
df_temp = df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']]
df_temp[df_test['소분류']=='미술관']
df_temp

                   이름 대분류  소분류 실내/실외   평점  투표횟수      추천점수
0               드영미술관  예술  미술관    실내  3.0     1  7.466283
1            이이남 스튜디오  예술  미술관    실내  4.7    84  8.201914
2             광주시립미술관  예술  미술관    실내  4.3   815  8.436555
3             소촌아트팩토리  예술  미술관    실내  4.1    53  7.676676
4    광주여성전시관 Herstory  예술  미술관    실내  0.0     0  7.476847
..                ...  ..  ...   ...  ...   ...       ...
198              사직공원  관광   공원    실외  4.3   750  8.424602
199            역사문화마을  관광   마을    실외  4.4     5  7.522854
200            청춘발산마을  관광   마을    실외  3.7   315  7.423505
201            서창향토마을  관광   마을    실외  3.9    39  7.547730
202             맥문동숲길  관광   공원    실외  4.5   138  8.236223

[203 rows x 7 columns]

In [164]:
# 새롭게 부여된 가중치 평점이 높은 순으로 상위 10개의 시설
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='미술관'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='박물관'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='공연장'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='전통문화'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='5.18운동'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='사찰/기독교'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='선비문화'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='문화유산'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='체험'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='공원'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='맛집'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='시장'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='스포츠'].sort_values(
    '추천점수', ascending=False).head(1))
print(df_test[['이름','대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']][df_test['소분류']=='마을'].sort_values(
    '추천점수', ascending=False).head(1))

        이름 대분류  소분류 실내/실외   평점  투표횟수      추천점수
2  광주시립미술관  예술  미술관    실내  4.3   815  8.436555
         이름 대분류  소분류 실내/실외   평점  투표횟수      추천점수
25  국립광주박물관  예술  박물관    실내  4.3   955  8.457475
           이름 대분류  소분류 실내/실외   평점  투표횟수     추천점수
32  국립아시아문화전당  예술  공연장    실내  4.6   279  8.62754
         이름 대분류   소분류 실내/실외   평점  투표횟수     추천점수
43  월봉서원 체험  예술  전통문화    실내  4.5   117  8.17352
              이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
52  5·18민주화운동기록관  역사  5.18운동    실내  4.6   636  8.891309
     이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
65  무각사  역사  사찰/기독교    실내  4.4   354  8.427326
     이름 대분류   소분류 실내/실외   평점  투표횟수      추천점수
78  포충사  역사  선비문화    실외  4.4   268  8.348541
           이름 대분류   소분류 실내/실외   평점  투표횟수      추천점수
90  무등산 주상절리대  역사  문화유산    실외  4.5    88  8.067841
         이름    대분류 소분류 실내/실외   평점  투표횟수      추천점수
99  국립광주과학관  축제/체험  체험    실내  4.4  1644  8.696986
       이름 대분류 소분류 실내/실외   평점  투표횟수      추천점수
184  쌍암공원  관광  공원    실외  4.5  1119  8.831918
          이름  대분류 소분류 실내/실외   평점  투표횟수      추천점수
138  100족발본점  먹거리  맛집    실내  4.8   187  8.695477
       이름  대분류 소분류 실내/실외   평점  투표횟수      추천점수
176  양동시장  먹거리  시장    실외  4.2   508  8.201896
           이름 대분류  소분류 실내/실외   평점  투표횟수     추천점수
182  광주월드컵경기장  관광  스포츠    실외  4.3   597  8.38813
       이름 대분류 소분류 실내/실외   평점  투표횟수      추천점수
197  펭귄마을  관광  마을    실외  3.9   947  7.758691

In [135]:
# 날씨기반 실내/외 판별 함수
# a = 온도 , b = 습도 , c = 1시간당 강수량

def weather_choice(a,b,c):
  y = b - ((-4.3 * a) + 147)
  if y >= 10:
    a = a + (y/10)

  if c >= 5 or a<=10 or a>=30:
    return '실내'
  else:
    return '실외'

In [147]:
# 새롭게 정의된 평점 기준에 따라 기존 find_sim_experience 함수를 변경
def find_sim_experience(df_test, sorted_ind, title_name, top_n=10, end_idx=10):
  title_exp = df_test[df_test['이름'] == title_name]
  title_index = title_exp.index.values

  sim_index = sorted_ind[title_index, :top_n*3]
  sim_index = sim_index.reshape(-1)

  sim_index = sim_index[sim_index != title_index]

  return df_test.iloc[sim_index].sort_values(
    '추천점수', ascending=False)[:end_idx]

def find_sim_experience_rainy(df_test, sorted_ind, title_name, top_n=10):
  title_exp = df_test[df_test['이름'] == title_name]
  title_index = title_exp.index.values

  sim_index = sorted_ind[title_index, :top_n*3]
  sim_index = sim_index.reshape(-1)

  sim_index = sim_index[sim_index != title_index]

  return df_test.iloc[sim_index].sort_values(
    '추천점수', ascending=False)[:]

input_name = '증심사'
sim_exp = find_sim_experience(df_test, genre_sim_sorted_ind, input_name)
sim_exp_rainy = find_sim_experience_rainy(df_test, genre_sim_sorted_ind, input_name)
test = sim_exp[['이름', '대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']]
test_rainy = sim_exp_rainy[['이름', '대분류', '소분류', '실내/실외', '평점', '투표횟수', '추천점수']]
test

              이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
52  5·18민주화운동기록관  역사  5.18운동    실내  4.6   636  8.891309
55      5·18민주광장  역사  5.18운동    실외  4.6   488  8.818421
53       전일빌딩245  역사  5.18운동    실내  4.7   240  8.695318
56      5·18자유공원  역사  5.18운동    실외  4.5   360  8.576156
54      5·18기념공원  역사  5.18운동    실외  4.4   574  8.542349
65           무각사  역사  사찰/기독교    실내  4.4   354  8.427326
57   광주학생독립운동기념관  역사  5.18운동    실내  4.6   143  8.351265
78           포충사  역사    선비문화    실외  4.4   268  8.348541
69           원효사  역사  사찰/기독교    실내  4.3   411  8.316454
63     우일선 선교사사택  역사  사찰/기독교    실내  4.4   166  8.197462

In [137]:
test_rainy[test_rainy['실내/실외'] == "실내"][:5]

            이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
65         무각사  역사  사찰/기독교    실내  4.4   354  8.427326
64         증심사  역사  사찰/기독교    실내  4.3   483  8.349287
181      염주체육관  관광     스포츠    실내  4.3   278  8.225975
63   우일선 선교사사택  역사  사찰/기독교    실내  4.4   166  8.197462
183   광주 실내빙상장  관광     스포츠    실내  4.2   286  8.098367

In [138]:
test_rainy[(test_rainy['실내/실외'] == "실내") & (test_rainy['소분류'] == "종교")]

Empty DataFrame
Columns: [이름, 대분류, 소분류, 실내/실외, 평점, 투표횟수, 추천점수]
Index: []

In [139]:
import pandas as pd

df2 = pd.read_csv("./data/weather.csv")
df2

   기온  습도  강수량
0  24  67    1
1  17  70    6

In [141]:
# # 기상청 API에서 온도, 습도, 강수량 가져오기

# import requests
# from datetime import datetime, timedelta
# from pprint import pprint


# url = "http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst"
# service_key = "OsnExmgat6fBnPcmy5/u/Ish125BWuL2gaRjXIUpbldSNUyz6obA1tlae77HEiPh67zsMKlW3nJ5MS4G/6G7jA=="

# now = datetime.now()

# if now.minute <= 40:
#     if now.hour == 0 :
#         date = (now-timedelta(days=1)).strftime('%Y%m%d')
#         date = '2300'
#     else:
#         date = now.strftime('%Y%m%d')
#         time = (now-timedelta(hours=1)).strftime('%H00')
# else:
#     date = base_date = now.strftime('%Y%m%d') 
#     time = now.strftime('%H00')

# params = {
#     'serviceKey' : service_key,
#     'numOfRows' : 50,
#     'pageNo' : 1,
#     'dataType' : 'JSON',
#     'base_date' : date,
#     'base_time' : time,
#     'nx' : 59,
#     'ny' : 74 
# }

# res = requests.get(url=url , params=params)

# data = res.json()
# data = data['response']['body']['items']['item']
# pprint(data)

In [165]:
# 날씨로 실내/실외 필터링
for i in range(2):
    temper = df2.loc[i][0:][0] # 온도
    humid = df2.loc[i][0:][1]  # 습도
    rain = df2.loc[i][0:][2]   # 강수량
    
    # 실내만 추천
    if weather_choice(temper, humid, rain) == "실내":
        print(test_rainy[test_rainy['실내/실외'] == "실내"][:10])
    
    # 실내/외 모두 추천
    else :
        print(test)

              이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
52  5·18민주화운동기록관  역사  5.18운동    실내  4.6   636  8.891309
55      5·18민주광장  역사  5.18운동    실외  4.6   488  8.818421
53       전일빌딩245  역사  5.18운동    실내  4.7   240  8.695318
56      5·18자유공원  역사  5.18운동    실외  4.5   360  8.576156
54      5·18기념공원  역사  5.18운동    실외  4.4   574  8.542349
65           무각사  역사  사찰/기독교    실내  4.4   354  8.427326
57   광주학생독립운동기념관  역사  5.18운동    실내  4.6   143  8.351265
78           포충사  역사    선비문화    실외  4.4   268  8.348541
69           원효사  역사  사찰/기독교    실내  4.3   411  8.316454
63     우일선 선교사사택  역사  사찰/기독교    실내  4.4   166  8.197462
              이름 대분류     소분류 실내/실외   평점  투표횟수      추천점수
52  5·18민주화운동기록관  역사  5.18운동    실내  4.6   636  8.891309
53       전일빌딩245  역사  5.18운동    실내  4.7   240  8.695318
65           무각사  역사  사찰/기독교    실내  4.4   354  8.427326
57   광주학생독립운동기념관  역사  5.18운동    실내  4.6   143  8.351265
69           원효사  역사  사찰/기독교    실내  4.3   411  8.316454
63     우일선 선교사사택  역사  사찰/기독교    실내  4.4   166  8.197462
66           원각사  역사  사찰/기독교    실내  4.6    18  7.674658
51     4·19혁명기념관  역사  5.18운동    실내  4.1    21  7.571880
62         오웬기념각  역사  사찰/기독교    실내  4.0    30  7.569825
60     광주 북동천주교회  역사  사찰/기독교    실내  4.2    12  7.550308